<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="ir.smilegame.findthespy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
            android:name="ir.smilegame.findthespy.MyApplication"
            android:allowBackup="true"
            android:icon="@drawable/logo"
            android:label="@string/app_name"
            android:largeHeap="true"
            android:roundIcon="@drawable/logo"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name="ir.smilegame.findthespy.package_activity.PackageActivity"
                android:screenOrientation="landscape"></activity>
        <activity
                android:name="ir.smilegame.findthespy.inGameActivity.InGameActivity"
                android:configChanges="orientation|screenSize"
                android:screenOrientation="landscape"></activity>
        <activity
                android:name="ir.smilegame.findthespy.game_activity.StartGameActivity"
                android:configChanges="orientation|screenSize"
                android:screenOrientation="landscape"></activity>
        <activity
                android:name="ir.smilegame.findthespy.places_activity.PlacesActivity"
                android:screenOrientation="landscape"></activity>
        <activity
                android:name="ir.smilegame.findthespy.SplashActivity"
                android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name="ir.smilegame.findthespy.MainActivity"
                android:screenOrientation="landscape"></activity>
        <activity
                android:name="ir.tapsell.sdk.TapsellAdActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"></activity>
    </application>

</manifest>